In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('FTA_1.csv')
df.head()

,Intermediate_1,Intermediate_2,Lower_1,Lower_2,Lower_3,Lower_Gate_1,Lower_Gate_2,Intermediate_Gate,Top_Prob
0,1.000000e-21,NaN,1.000000e-07,1.000000e-09,1.000000e-05,0.0,1.0,0.0,NaN
1,1.000000e-15,NaN,1.000000e-05,1.000000e-03,1.000000e-07,1.0,0.0,1.0,NaN
2,1.000000e-17,NaN,1.000000e-03,1.000000e-05,1.000000e-09,0.0,1.0,1.0,NaN
3,1.000000e-19,NaN,1.000000e-09,1.000000e-07,1.000000e-03,1.0,0.0,0.0,NaN
4,1.000000e-21,NaN,1.000000e-07,1.000000e-09,1.000000e-05,0.0,1.0,0.0,NaN

In [5]:
df["Intermediate_1"] = df.apply(lambda row: row["Lower_1"] + row["Lower_2"] + row["Lower_3"] if row["Lower_Gate_1"] == 0 else row["Lower_1"] * row["Lower_2"] * row["Lower_3"], axis=1)

In [6]:
df.head()

,Intermediate_1,Intermediate_2,Lower_1,Lower_2,Lower_3,Lower_Gate_1,Lower_Gate_2,Intermediate_Gate,Top_Prob
0,1.010100e-05,NaN,1.000000e-07,1.000000e-09,1.000000e-05,0.0,1.0,0.0,NaN
1,1.000000e-15,NaN,1.000000e-05,1.000000e-03,1.000000e-07,1.0,0.0,1.0,NaN
2,1.010001e-03,NaN,1.000000e-03,1.000000e-05,1.000000e-09,0.0,1.0,1.0,NaN
3,1.000000e-19,NaN,1.000000e-09,1.000000e-07,1.000000e-03,1.0,0.0,0.0,NaN
4,1.010100e-05,NaN,1.000000e-07,1.000000e-09,1.000000e-05,0.0,1.0,0.0,NaN

In [7]:
df["Intermediate_2"] = df.apply(lambda row: row["Lower_1"] + row["Lower_2"] + row["Lower_3"] if row["Lower_Gate_2"] == 0 else row["Lower_1"] * row["Lower_2"] * row["Lower_3"], axis=1)

In [8]:
df.head()

,Intermediate_1,Intermediate_2,Lower_1,Lower_2,Lower_3,Lower_Gate_1,Lower_Gate_2,Intermediate_Gate,Top_Prob
0,1.010100e-05,1.000000e-21,1.000000e-07,1.000000e-09,1.000000e-05,0.0,1.0,0.0,NaN
1,1.000000e-15,1.010100e-03,1.000000e-05,1.000000e-03,1.000000e-07,1.0,0.0,1.0,NaN
2,1.010001e-03,1.000000e-17,1.000000e-03,1.000000e-05,1.000000e-09,0.0,1.0,1.0,NaN
3,1.000000e-19,1.000101e-03,1.000000e-09,1.000000e-07,1.000000e-03,1.0,0.0,0.0,NaN
4,1.010100e-05,1.000000e-21,1.000000e-07,1.000000e-09,1.000000e-05,0.0,1.0,0.0,NaN

In [9]:
df["Top_Prob"] = df.apply(lambda row: row["Intermediate_1"] + row["Intermediate_2"] if row["Intermediate_Gate"] == 0 else row["Intermediate_1"] * row["Intermediate_2"], axis=1)

In [10]:
df.head()

,Intermediate_1,Intermediate_2,Lower_1,Lower_2,Lower_3,Lower_Gate_1,Lower_Gate_2,Intermediate_Gate,Top_Prob
0,1.010100e-05,1.000000e-21,1.000000e-07,1.000000e-09,1.000000e-05,0.0,1.0,0.0,1.010100e-05
1,1.000000e-15,1.010100e-03,1.000000e-05,1.000000e-03,1.000000e-07,1.0,0.0,1.0,1.010100e-18
2,1.010001e-03,1.000000e-17,1.000000e-03,1.000000e-05,1.000000e-09,0.0,1.0,1.0,1.010001e-20
3,1.000000e-19,1.000101e-03,1.000000e-09,1.000000e-07,1.000000e-03,1.0,0.0,0.0,1.000101e-03
4,1.010100e-05,1.000000e-21,1.000000e-07,1.000000e-09,1.000000e-05,0.0,1.0,0.0,1.010100e-05

In [16]:
columns_to_check = ["Intermediate_1", "Intermediate_2", "Top_Prob"]

# Define a function to convert a value to exponential form
def convert_to_exponential(val):
    try:
        # Try converting the value to float and then back to exponential form
        return '{:1.2E}'.format(float(val))
    except ValueError:
        # If conversion fails, return the original value
        return val

# Iterate over the specified columns and apply the conversion function
for column in columns_to_check:
    df[column] = df[column].apply(convert_to_exponential)

In [19]:
df.to_csv('FTA_f.csv', index=False)